<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alfredobarron.examen" >

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="DATABASE"
            android:value="CooperApp.db" />
        <meta-data
            android:name="VERSION"
            android:value="6" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.alfredobarron.examen.model" />

        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alfredobarron.examen.NewCount"
            android:label="@string/title_activity_count"
            android:parentActivityName="com.alfredobarron.examen.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alfredobarron.examen.Main" />
        </activity>
        <activity
            android:name="com.alfredobarron.examen.DetailCount"
            android:label="@string/title_activity_detalle_count"
            android:parentActivityName="com.alfredobarron.examen.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alfredobarron.examen.Main" />
        </activity>
        <activity
            android:name="com.alfredobarron.examen.AddPerson"
            android:label="@string/title_activity_add" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alfredobarron.examen.DetailCount" />
        </activity>
        <activity
            android:name="com.alfredobarron.examen.EditCount"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alfredobarron.examen.DetailCount"/>
        </activity>

    </application>

</manifest>
